extends layout

block content
    h1 PDF Annotation Tool
    a(href="/upload") Upload
    ul
        each document in documents
            li
                div
                    a(href='viewer/?name=' + document._id) #{document.name}:
                    a(href='api/documents/' + document._id + '/thumb') Thumb


