extends layout

block content
    h1 PDF Annotation Tool
    a(href="/upload") Upload
    ul
        each document in documents
            li
                a(href='viewer/?name=' + document.path) #{document.name}


